.speech{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 18px;
    color: black;
}
.direction{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    background: #e58163;
}
.name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: black;
    background: #c8ebf4;
}
.direction:hover{
    background-color:#08c2f1;
    color:black;
}
.linde {
    color:rgb(239, 14, 156);
}

.krogstad {
    color:blue;
}


.table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    border: 5px;
}
.table th, .table tr {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.table td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.table thead {
    background-color: rgb(13, 184, 247);
}
.table tr:nth-child(even) {
    background-color: rgb(13, 184, 247);
}

.table td:hover {
    cursor: pointer; 
    text-shadow: 2px 2px 4px yellow; 
    border: 1px solid #FF5733; 
}
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.bottom-navbar {
    text-align: center;
}

.bottom-navbar a {
    color: rgb(179, 237, 18);
    text-decoration: none;
    margin: 0 20px;
}


.bottom-navbar span{
    margin-right: 5px;
}


.linde:hover{
    cursor: pointer; 
    text-shadow: 2px 2px 4px #bef566; 
    border: 1px solid #4010ef; 
}

.krogstad:hover{
    cursor: pointer; 
    text-shadow: 2px 2px 4px #ea7171; 
    border: 1px dashed #FF5733; 
}